<nav class="navbar">
  <div class="logo">Doação de sangue</div>
  <ul class="nav-links">
      <li><a routerLink="/importar" class="nav-link">Importar Candidatos</a></li>
      <li><a routerLink="/contar-por-estado" class="nav-link">Candidatos por Estado</a></li>
      <li><a routerLink="/imc-medio" class="nav-link">IMC Médio</a></li>
      <li><a routerLink="/percentual-obesos" class="nav-link">Percentual de Obesos</a></li>
      <li><a routerLink="/media-idade" class="nav-link">Média de Idade</a></li>
      <li><a routerLink="/doadores-tipo-sanguineo" class="nav-link">Doadores por Tipo Sanguíneo</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>